<!--
Page de gestion des fichiers. Après connexion vérifiée de l'utilisateur, ce dernier se trouve redirigé vers cette page automatiquement.
Dès lors, une requête est lancée pour récupérer la liste des fichiers et dossiers à la racine de la plateforme NetExplorer de l'utilisateur.
Cette page les affiches à la suite et situe l'utilisateur dans la hiérarchie des dossiers grâce à un breadcrumbs de bootstrap.
L'utilisateur dispose d'une fonctionnalité de téléversement de nouveaux fichiers vers sa plateforme.
Chaque dossier a la possibilité d'être exploré ou supprimé. Chaque fichier a la possibilité d'être téléchargé ou supprimer. Dans les deux cas il s'agit d'une suppression par 'mise à la corbeille'. 
-->
<div ng-controller="filesCtrl">
	<ol class="breadcrumb">
		<button class="btn btn-danger glyphicon glyphicon-arrow-up" ng-click="folderFctr.getFilesFromFolder(targetURL,pathFctr.getParentFolder().folderId,1)"></button>
		<li ng-repeat="lvl in pathFctr.path"><a class="foldersBreakdown" ng-click="folderFctr.getFilesFromFolder(targetURL,lvl.folderId,1)">{{lvl.folderName}}</a></li>
	</ol>
	<div class="row">
		<div class="well form-group">
    		<label for="upFile">Upload a new file in this very folder : </label>
			<input type="file" id="upFile" name="files[]" app-filereader ng-model="file" multiple/>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-2 thumbnail icon" ng-repeat="f in folderFctr.folder.content.folders">
			<img class="folderImg" src="images/Folder.png"></img>
			<div class="caption">
				<div class="folderName">{{f.name}}</div>
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group btn-group-folder" role="group">
						<button type="button" class="btn btn-sm btn-default glyphicon glyphicon-arrow-down" ng-click="folderFctr.getFilesFromFolder(targetURL,f.id,1)"></button>
						<button type="button" class="btn btn-sm btn-default glyphicon glyphicon-trash" ng-click="deleteFolder(f.id,1)"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2 thumbnail icon" ng-repeat="f in folderFctr.folder.content.files">
			<img class="fileImg" src="images/fileIcon.png"></img>
			<div class="caption">
				<div class="fileName">{{f.name}}</div>
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group btn-group-file" role="group">
						<button type="button" class="btn btn-sm btn-default glyphicon glyphicon-download-alt" ng-click="download(f.id,f.name)"></button>
						<button type="button" class="btn btn-sm btn-default glyphicon glyphicon-trash" ng-click="deleteFile(f.id,1)"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>			
